body{
    margin:0px;
}
header{
    background-color:rgb(0, 0, 0);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0;
    position:fixed;
    width:100%;
   
}
#Logo_container{
    margin-top:1vh;
    margin-bottom:1vh;
    margin-left:1%;
}

.Logo{
    margin:0;
    width:8vh;
}
.Searchbox_container{
    margin-right:3%;
}

#Searchbox{
    position:absolute;
    top:50%;
    right:4.5%;
    transform:translateY(-50%);
    padding:5px;
    width:150px;
    display:none;
}
.Searchbox_container.active #Searchbox{
    display:inline;
}
#Icon_cont{
    background:none;
    border:none;
}
#Icon_close{
    position:absolute;
    padding:6px;
    top:50%;
    right:3%;
    transform:translateY(-50%);
    display:none;
    background:rgb(230, 230, 230);
    cursor: pointer;
    border:none;
    
}
.Search_icon{
    width:4vh;
    cursor: pointer;
    
}
.Lower_Navigation a{
    position: relative;
    color:rgb(255, 255, 255);
    font-size:22px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:22px;
    text-decoration:none;
    padding-left:5px;
    padding-right:5px;
}


.Lower_Navigation a:after{
    content:"";
    position:absolute;
    background-color:white;
    height:2px;
    left:0;
    width:0;
    bottom:-8px;
    transition:0.5s;
}

.Lower_Navigation a:hover:after{
    width:100%;

}

.Horizontal_Ad a:hover{
    background-color:rgb(0, 45, 170);
}



.Large_img{
    width:100%;
    height:110vh;
    background-position:center;
    background-size:cover;
    background-image:url("Large_gym_image.jpeg");
}
.Overlay_img{
    width:100%;
    height:110vh;
    background-color:rgba(20, 19, 19, 0.45);
    display:flex;
    align-items:flex-start;
    flex-direction:column;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    
}
.Overlay_img h1{
    margin-left:10%;
    margin-top:15%;
    font-size:70px;
    padding:0;
    margin-bottom:0;
}
.Overlay_img p{
    font-size:20px;
    margin-left:10%;
}
.Overlay_img a{
    display:inline-block;
    margin-left:10%;
    color:white;
    text-decoration: none;
    padding:14px;
    background-color:rgb(192, 39, 39);
    border-radius:20px;
}


#Full_Container .Square_Img{
    width: 100%;
}


#Full_Container{
    display:flex;
    justify-content:space-between;
    margin-right:12%;
    margin-left:12%;
    padding-bottom:80px;
}
#Subhead_For_Triple{
    text-align: center;
    font-size:200%;
    font-family: Arial, Helvetica, sans-serif;
}


.Triple_Column{
    width:25%;
    text-align:center;
    border-style:solid;
    border-width:2px;
    border-color:lightgray;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.Triple_Column p, .Triple_Column h2{
    margin-top:5px;
    padding-left:6px;
    padding-right:6px;
}
.Triple_Column h2{
    margin-bottom:5px;
}
#Rectangle_Filler{
    width:100%;
    height:32vh;
}
#Ad_Container{
    display:flex;
    margin-right:12%;
    margin-left:12%;
    margin-bottom:80px;
}
.Horizontal_Ad {
    width:50%;
    margin:0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
}
.Horizontal_Ad p{
    padding:0px 10px 10px 10px;
}
.Horizontal_Ad a{
    color:white;
    text-decoration: none;
    padding:14px;
    background-color:rgb(0, 70, 200);
    border-radius:20px;
}
table{
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    text-align:center;
    border-collapse:collapse;
}
td, th{
    border-style:solid;
    border-color:rgb(255, 255, 255);
    border-width:2px;
    padding:10px;
}
footer{
    background-color:rgb(0, 45, 170);
   
}
#Footer_Div{
    color:white;
    font-size:20px;
    display:flex;
    padding:20px;
    background-color:rgb(0, 45, 170);
    justify-content:flex-start;
}
#Footer_Div *{
    margin-right:3%;
    margin-left:3%;
}
#Social_Div{
    margin-left:30%;
}
#Social_Div img{
    margin-left:10px;
    margin-right:10px;
}


